.normalDate{
    text-align: center;
    background-color: red;
    color: black;
    border: 1px solid black;
}

.exceptionalDate{
    background: red;
    color: rgb(243, 233, 95);
    border: 1px solid black;
}

.table{
    width: 90%;
    margin-left: 60px;
    border: 1px solid black;
    background-color: rgba(155, 182, 153, 0.8);
    margin-bottom: 50px;
}

.tableTitle{
    display: flex;
    justify-content: space-around;

    margin-top: 30px;
    color: white;
    font-family: Sorts Mill Goudy;
    background-color: rgba(9, 49, 9, 0.8);
    
}

.divButton{
    font-family: Sorts Mill Goudy;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 20px;
}

td{
    border: 1px solid black;
    
}

.button{
    border: none;
    background-color: goldenrod;
    height: 40px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}

button:hover{
    color: white;
    background-color: rgba(9, 49, 9, 0.8);
}

.h1H{
    color: white;
    text-align: center;
    font-family: Sorts Mill Goudy;
    padding-top: 20px;
    font-size: 70px;
}

.selectMonth{
    text-align: center;
    background-color: rgba(9, 49, 9, 0.8);
    color: white;
    border-radius: 10px;
}

.h5H{
    color: white;
    text-align: center;
    font-family: Sorts Mill Goudy;
}

.mainH{
    background-image: url(../Images/augusta1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 200px;
}