.divLanding{
    background-color: #2A6B29;
    padding-bottom: 100%;
}

.h1landing{
    color: rgb(250, 243, 227);
    font-family: Sorts Mill Goudy;
    text-align: center;
    padding-top: 30px;
    font-size: 70px;
}
