.divLoad{
    background-image: url(../Images/sand.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.H1{
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: center;
    color: black;
    font-family: Sorts Mill Goudy;
    text-shadow: 2px 2px 2px rgb(46, 46, 46);
}

.divForm{
    font-family: Sorts Mill Goudy;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formLoad{
    display: flex;
    margin: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 380px; 
    height: 480px;
    margin-top: -1px;
    border-radius: 13px;
    background-color: rgba(190, 172, 134, 0.8);
    box-shadow: 2px 2px 2px black;
}

.input{
    display: flex;
    text-decoration: blink;
    width: 300px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
}

.inputs{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(8, 8, 8, 0.7);
    height: 30px;
    margin: 2px;
}

::placeholder{
    color: rgb(238, 238, 238, 0.7); 
    padding-left: 10px;
}

.divButtons{
    padding-top: 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 2px;
}

.BTNLoad{
    font-size: 18px;
    background-color: rgb(8, 8, 8, 0.9);
    padding: 7px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    width: 100px;
}