.formLogIn{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background-color: rgba(5, 15, 3, 0.5);
    opacity: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.btnLogin{
    max-width: 50%;
    top: 50%;
    left:50%;
    transform: translate(50%, 20%);
    background-color: goldenrod;
}

.btnLogin:hover{
    background-color: #2A6B29;
    color: rgb(250, 243, 227);
    border-color: goldenrod;
}

.mail{
    background-color: rgb(250, 243, 227, 0.8);
    border: none;
}

.contraseña{
    background-color: rgb(250, 243, 227, 0.8);
    border: none;
}