.divR{
    background-image: url('https://pga-tour-res.cloudinary.com/image/upload/c_fill,dpr_3.0,f_auto,g_center,h_393,q_auto,w_713/v1/pgatour/editorial/2019/06/07/PebbleStoryTopper-1700-KK.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.h1R{
    color: rgba(9, 49, 9, 0.8);
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    text-align: center;
    font-family: Sorts Mill Goudy;
    font-size: 70px;
    padding-top: 20px;
}

.formR{
    background-color: rgba(5, 15, 3, 0.5);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
}

.divFormR{
    margin: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -3px;
}

.inputReg{
    width: 300px;
    border-radius: 7px;
    border: none;
    margin-top: 7px;
    background-color: rgb(231, 228, 228, 0.5);
}

.buttonR{
    background-color: goldenrod;
    height: 40px;
    width: 150px;
    text-align: center;
    border: none;
    border-radius: 7px;
    color: black;
    margin-top: 15px;
}

.divLoeguate{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
}

.logueate{
    color: goldenrod;
}