.divR{
    background-image: url(../Images/golf11.JPG);
    padding-bottom: 1000px;
    background-size: 100% 100%;
    padding-bottom: 50%;
}

.h1R{
    color: rgb(250, 243, 227);
    text-align: center;
    font-family: Sorts Mill Goudy;
    padding-top: 10%;
    font-size: 70px;
}

.formR{
    background-color: rgba(5, 15, 3, 0.5);
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.divFormR{
    margin: 10px;
}

.nombre{
    width: 410px; 
    padding-left: 20px; 
}

.apellido{
    width: 410px; 
    padding-left: 20px; 
}

.mail{
    width: 410px; 
    padding-left: 20px; 
}

.contraseña{
    width: 410px; 
    padding-left: 20px; 
}

.matricula{
    padding-left: 20px; 
    width: 100px;
    margin:unset;
}

.buttonR{
    background-color: goldenrod;
    height: 40px;
    width: 150px;
    text-align: center;
    color: black;
    top: 45%;
    left: 50%;
    transform: translate(90%, 10%);
}

.divLoeguate{
    text-align: center;
    color: whitesmoke;
}

.logueate{
    color: goldenrod;
}