.divU{
    background-image: url(https://pga-tour-res.cloudinary.com/image/upload/c_fill,f_auto,g_center,h_405,q_auto,w_720/v1/pgatour/editorial/2016/08/25/fectrophy-1268-getty.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.users{
    border: 1px solid black;
    background-color: rgb(19, 6, 6, 0.5);
    border-radius: 10px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    transform: translate(0%, 0%);
    size: fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.player{
    color: rgb(2, 1, 1);
    text-align: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 10px;
    padding: 20px;
    width: 200px;
}

.player:hover{
    background-color: rgb(230, 215, 59);
    transition: 0.5s;
}

a:link{
    text-shadow: none;
    text-decoration: none;
}

.title{
    text-align: center;
    padding-top: 2%;
    font-family: Sorts Mill Goudy;
    font-size: 4rem;
}

.btnU{
    display: flex;
    color: white;
    transform: translate(30%, -200%);
    background-color: rgb(8, 8, 6, 0.5);
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 150px;
    justify-content: center;
    padding: 10px;
}

.btnU:hover{
    background-color: rgb(230, 215, 59);
    color: black;
}